/* Общие стили для всего приложения */
body {
    font-family: 'Arial', sans-serif;
    margin: 8vh;
    padding: 0;
    background: radial-gradient(circle, darkslateblue, slateblue); /* Радиальный градиент */
    color: #333;
}

/* Основной контейнер приложения */
.app-container {
    /*max-width: 800px;*/
    margin: 0 auto;
    min-height: 100vh; /* min-h-screen */
    padding: 1rem; /* p-4 */
    display: flex;
    flex-direction: column;
}

/* Заголовки */
/*h1, h2, h3 {*/
/*    color: gold;*/
/*}*/

.app-title {
    font-size: 2rem; /* text-3xl */
    font-weight: bold; /* font-bold */
    text-align: center; /* text-center */
    color: gold; /* text-purple-800 */
    margin-bottom: 1.5rem; /* mb-6 */
}

/* Кнопки */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: plum;
    color: white;
}

/* Стили для списков */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Поля ввода */
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Учитываем отступы */
    margin-bottom: 10px;
}

/* Стили для сообщений */
.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
}

.alert-success {
    background-color: #28a745;
}

.alert-error {
    background-color: #dc3545;
}

.main-content {
    display: flex;
    flex-grow: 1; /* flex-grow */
    margin-top: 1rem; /* mt-4 */
    border: 2px #111;
    border-radius: 10px;
}

.room-details {
    flex-grow: 1; /* flex-grow */
    margin-right: 1rem; /* mr-4 */
}

.yandex-integration {
    display: flex;
    max-width: 20vh;
    justify-content: space-between;
    padding-left: 2vw;
    width: 300px; /* Задайте фиксированную ширину для YandexIntegration */
}